@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000000;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}